*{
	padding: 0px;
	margin: 0px;
}
/*======================= front style ======================*/
.parent{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	position: relative;
}
.dsicoration{
	position: absolute;
	height: 100vh;
	width: 50%;
	right: 0px;
	top: 0px;
	background-color: #0096FF;
	opacity: 0.6;
	z-index: -1;
}
.picture{
	position: absolute;
	right: 20%; 
	top: 20%;
	bottom: 0px
}
.picture img{
	height: 100%;
	transform: translateY(350px);
	transition: all 2s;
}
.picture img.loaded{
	transform: translateY(0px);
}


/*================= nav bar style =================*/
.navbar{
	z-index: 100000;
	position: fixed;
	width: 100%;
}
.navbar ul{
	display: flex;
	list-style-type: none;
	margin-right: 100px;
	height: 100%;
	align-items: center;
	margin: 0;
}
.navbar ul li{
	display: flex;
	align-items: center;
	height: 100%;
}
.navbar ul li a{
	margin: 10px;
	margin-right: 30px;
	font-size: 21px;
	color: black;
	text-decoration: none;
	font-weight: 400;
}
.navbar ul li a:hover{
	font-weight: 600;
}
.navbar ul li a button{
	border: none;
	background-color: #0082df;
	color: white;
	padding: 4px;
	box-shadow: black 4px 3px 2px;
	border-radius: 7px;
}
.togglle{
	display: none;
}
.navbar.scrolled{
	background-color: #0096FF;
	transition: all 1.5s;
}
.logo{
	width: 60px;
	height: 60px;
	margin-left: 40px;
}

/*================== Main style ===================*/
.main{
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 80%;
	transform: translateY(350px);
	transition: all 2s;
	padding-top: 100px;
}
.main.loaded{
	transform: translateY(0px);
}
.main .text{
	margin-top: 120px;
	margin: 30px;
	margin-left: 62px;
}
.title{
	font-size: 60px;
	padding: 10px;
	margin-top: 80px;
}
.title span{
	color: #3b9ae1;
}
.desc{
	width: 600px;
	font-size: 25px;
	padding: 10px;
}
.btns{
	margin: 10px;
}
.btns button{
	width: 200px;
	height: 50px;
	font-size: 25px;
	margin: 10px;
}
.btns button:first-child{
	background-color: #0096FF;
	color: white;
	border: none;
}
.btns button:nth-child(2){
	background-color: white;
}

/*===================== Services style =================*/

.services, .doctors{
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f4f4f4;
}
.services .title,.doctors .title{
	padding: 10px;
	margin: 20px;
	margin-bottom: 25px;
	font-size: 60px;
	color: #3b9ae1;
}
.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;

}
.container .text{
	font-size: 25px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	transition: content 2s; 
}
.photo img{
	width:400px;
	height: 300px;
	transition: all 2s; 
}
.repaire{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.repaire div{
	width: 15px;
	height: 15px;
	border:1px solid #0096FF;
	margin: 10px;
	border-radius: 50%;
}
.child1.active{
	background-color:  #0096FF;
}
/*================ footer Style ===============*/
.footer{
	background-color: #23282d;
	display: flex;
	color: white;
	padding: 15px;
	justify-content: space-around;
}
.address{
	display: flex;
	flex-direction: column;
}
.address h3{
	border-bottom: #0096FF solid 2px;
	text-align: center;
	margin: 10px;
}

.location img{
	color: white;
	background-color: white;
}
input{
	height: 30px;
	border: none;
	border-bottom: white solid 2px ;
	margin-top: 0px;
	transition: all 1s;
	background-color: #23282d;
	margin: 10px;
	width: 100%;
	color: white;
}
.contact h3{
	text-align: center;
	border-bottom: solid #0096FF 2px;
	margin: 10px;
}
.envoyer{
	display: flex;
	justify-content: center;
	width: 100%;
}
.submit{
	width: 260px;
	background-color: #0096FF;
	border: none;
	color: white;
	font-size: 18px;
	text-align: center;
	margin: auto;
}
.follow{
	display: flex;
	justify-content: center;
	margin: 15px;
}
form div {
	display: flex;
	justify-content: center;
}
.address div a{
	cursor: pointer;
	transition: all 1s;
}
.address div a:hover{
	margin-left: 23px;
}
.address div a i{
	font-size: 25px;
	margin: 10px;
}

/*============ About Us style ===================*/
.container-stats{
	width: 85%;
	display: flex;
	justify-content: space-between;
	
	margin-top: 20px;

}
.container-stats div{
	text-align: center;
}
.stats{
	width: 200px;
	height: 200px;
	background-color: #0096FF;
	position: relative;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-stats .stats div{
	width: 150px;
	height: 150px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 29px;
	color: #0096FF;
	font-weight: bold;
}
h4{
	padding: 25px;
	text-align: center;
}

/*================ Team Style =================*/
.item{
	height: 360px;
	background-color:#0096FF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
	border-radius: 8px;
	box-shadow: #23282d 8px 5px 4px;
}
.doctors{
	height: max-content;
	padding: 20px;
}
.item div img{
	width: 100%;
	height: 200px;
}
.container-fluid{
	width: 100%;
	display: flex;
	justify-content: center;
}




hr{
	text-align: center;
}
